:root {
    --violet-color: #6A1A9F;
    --text-color: white;
    --border-color: var(--violet-color);
    --background-color: transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'arial', sans-serif;
}

body {
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

