.anime-card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.anime-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.anime-card h3 {
    margin-bottom: 5px;
}

.anime-card img {
    width: 100%;
    height: auto;
}